#workflow-end.left {
    width:20%;
    float: left;
}
#workflow-action.right {
    width: auto;
    float: left;
}
.workflow-action-div {
    clear: both;
}
#workflow-action label {
    float: left;
}
#workflow-action select {
    margin-top: 10px;
}