#workflow-end.left
{
    width:20%;
    float: left;
}

#workflow-action.right
{
    width: auto;
    float: left;
}

#workflow-action label
{
    width: 50px;
    float: left;
}

#workflow-action select
{
    margin-top: 10px;
}
